
// Page 0

.content {
    flex-grow: 1;
    width: 100%;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.description {
    width: 100%;
    background-color: $descipt-color;
    padding: 20px 40px;
    
    .des-center {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        max-width: 500px;
    }

    li, p {
        margin: 30px 0;
        font-size: 20px;
    }

    h2, h3 {
        font-size: 34px;
    }

    @media screen and (min-width: 768px) {
        .des-center {
            max-width: 800px;
        }

        li, p {
            font-size: 26px;
        }

        h2, h3 {
            font-size: 40px;
        }
    }

    @media screen and (min-width: 1200px) {
        .des-center {
            max-width: 950px;
            
        }

        li, p {
            font-size: 28px;
        }

        h2, h3 {
            font-size: 50px;
        }
    }

    @media screen and (min-width: 2000px) {
        article {
            h2, h3 {
                margin: 100px 0;
                font-size: 65px;
            }
        }
    }
}

.bouton {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin: auto;

    select, input, button {
        padding: 20px 20px;
        border: none;
        
    }

    p {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    select {
        border-radius: 20px 0 0 20px;
        background: $header-color;
        color: $text-color;
        cursor: pointer;
    }

    input {
        text-align: center;
    }

    button {
        border-radius: 0 20px 20px 0;
        margin-left: -5px;
        background: $color-button;
        color: $text-color;
        cursor: pointer;
    }

    @media screen and (min-width: 1200px) {
        select, input, button {
            padding: 25px 30px;
            border: none;
        }

        p {
            font-size: 30px;
        }
    }
   
}

// Page 1

.try {
    text-align: center;
    margin: 50px 0;
}

.creatprofil {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(to right, #F6861F, #ED1F24);
    margin-top: 40px;

    @media screen and (min-width: 1200px) {
        width: 450px;
        height: 80px;
        font-size: 40px;
        margin-top: 50px;
        
    }
}

.pagesearch {
    display: flex;
}


// Page 2


.initprofilsection {
    display: flex;
    justify-content: center;
    align-items: center;

    .initprofil {
        background-color: $header-color;
        border: 2px solid #fff;
        padding: 50px;
        border-radius: 30px;
        
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 300px;
        }
    
        .placeprofil {
            text-align: center;
            padding: 5px;
        }
    
        label {
            margin: 20px 0;
          
            
        }
    
        select {
            text-align: center;
            padding: 5px 50px;
        }

        .gorb {
            display: flex;
        }
    }

    .submitprofil {
        margin-top: 50px;
        width: 200px;
        padding: 15px;
        font-size: 18px;
        color: $text-color;
        background: $color-button;
        border-radius: 30px;
        border: none;
    }
}


