$main-color: #0A0805;
$header-color: #494949;
$descipt-color: #1E1E1E;
$text-color: #FFFFFF;
$font: 'roboto', sans-serif;
$color-button: linear-gradient(to right, #F6861F, #ED1F24);
$bsheader: black 0px 5px 10px;

