*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #0A0805;
  color: #FFFFFF;
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #494949;
  box-shadow: black 0px 5px 10px;
  z-index: 2;
}
header select {
  padding: 0 10px;
  margin-right: 20px;
  color: #FFFFFF;
  font-size: 20px;
  background-color: #494949;
  border: none;
  cursor: pointer;
}
header img {
  max-width: 80px;
  margin: 10px 20px;
}
header h1 {
  font-size: 30px;
  margin: 10px 0px;
  display: none;
}
header ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}
header li {
  display: flex;
  align-items: center;
}
header li a {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }
  header h1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    width: 100%;
  }
  header ul {
    width: 0;
    padding-right: 130px;
  }
}
@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 4em;
  }
}

footer {
  background: #494949;
  padding: 30px;
  font-size: 20px;
  text-align: center;
}

.content {
  flex-grow: 1;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .content {
    display: flex;
  }
}

.description {
  width: 100%;
  background-color: #1E1E1E;
  padding: 20px 40px;
}
.description .des-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 500px;
}
.description li, .description p {
  margin: 30px 0;
  font-size: 20px;
}
.description h2, .description h3 {
  font-size: 34px;
}
@media screen and (min-width: 768px) {
  .description .des-center {
    max-width: 800px;
  }
  .description li, .description p {
    font-size: 26px;
  }
  .description h2, .description h3 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .description .des-center {
    max-width: 950px;
  }
  .description li, .description p {
    font-size: 28px;
  }
  .description h2, .description h3 {
    font-size: 50px;
  }
}
@media screen and (min-width: 2000px) {
  .description article h2, .description article h3 {
    margin: 100px 0;
    font-size: 65px;
  }
}

.bouton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin: auto;
}
.bouton select, .bouton input, .bouton button {
  padding: 20px 20px;
  border: none;
}
.bouton p {
  font-size: 20px;
  margin-bottom: 20px;
}
.bouton select {
  border-radius: 20px 0 0 20px;
  background: #494949;
  color: #FFFFFF;
  cursor: pointer;
}
.bouton input {
  text-align: center;
}
.bouton button {
  border-radius: 0 20px 20px 0;
  margin-left: -5px;
  background: linear-gradient(to right, #F6861F, #ED1F24);
  color: #FFFFFF;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .bouton select, .bouton input, .bouton button {
    padding: 25px 30px;
    border: none;
  }
  .bouton p {
    font-size: 30px;
  }
}

.try {
  text-align: center;
  margin: 50px 0;
}

.creatprofil {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 250px;
  height: 60px;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(to right, #F6861F, #ED1F24);
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .creatprofil {
    width: 450px;
    height: 80px;
    font-size: 40px;
    margin-top: 50px;
  }
}

.pagesearch {
  display: flex;
}

.initprofilsection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.initprofilsection .initprofil {
  background-color: #494949;
  border: 2px solid #fff;
  padding: 50px;
  border-radius: 30px;
}
.initprofilsection .initprofil form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 385px;
}
.initprofilsection .initprofil .placeprofil {
  text-align: center;
  padding: 5px;
}
.initprofilsection .initprofil label {
  margin: 20px 0;
}
.initprofilsection .initprofil select {
  text-align: center;
  padding: 5px 50px;
}
.initprofilsection .submitprofil {
  margin-top: 55px;
  width: 200px;
  padding: 15px;
  font-size: 18px;
  color: #FFFFFF;
  background: linear-gradient(to right, #F6861F, #ED1F24);
  border-radius: 30px;
  border: none;
}

.brutprofil {
  padding: 20px;
}

.ficheprofil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .ficheprofil {
    flex-direction: row;
  }
}

.ficheprofilgauche, .ficheprofilgauchebas {
  justify-content: center;
  border: #fff solid 2px;
  background-color: #494949;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 30px auto;
}
.ficheprofilgauche h3, .ficheprofilgauchebas h3 {
  font-size: 30px;
  margin: 10px 0;
}
.ficheprofilgauche ul, .ficheprofilgauchebas ul {
  text-align: center;
  margin: 30px 0;
}
.ficheprofilgauche ul li, .ficheprofilgauchebas ul li {
  margin: 10px 0;
}
@media screen and (min-width: 1200px) {
  .ficheprofilgauche, .ficheprofilgauchebas {
    min-width: 400px;
    display: flex;
    flex-direction: column;
  }
}

.ficheprofildroite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #fff solid 2px;
  background-color: #494949;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  margin: 30px auto;
  max-width: fit-content;
}
.ficheprofildroite h3 {
  font-size: 30px;
}
.ficheprofildroite p {
  font-size: 20px;
}
.ficheprofildroite .badgelist {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  user-select: none;
}
.ficheprofildroite [id=listOne], .ficheprofildroite [id=listTwo] {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  cursor: pointer;
}
.ficheprofildroite [id=listOne] span, .ficheprofildroite [id=listTwo] span {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 1200px) {
  .ficheprofildroite [id=listOne], .ficheprofildroite [id=listTwo] {
    flex-direction: row;
  }
}
.ficheprofildroite [id=listOne] li {
  background-color: rgb(186, 45, 45);
  padding: 15px 50px;
  margin: 5px 0;
  border-radius: 30px;
  position: relative;
}
.ficheprofildroite [id=listTwo] li {
  background-color: rgb(48, 157, 29);
  padding: 15px 50px;
  margin: 5px 0;
  border-radius: 30px;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
